<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore book list</title>
</head>
<body>
    <h1>Books</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publicationYear}"></td>
            <td th:text="${book.isbn}"></td>
            <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
            <td><a th:href="@{/editBook/{id}(id=${book.id})}">Edit</a></td>
        </tr>
    </table>

    <p><a href="/addBook">Add book</a></p>
    
</body>
</html>